.containerData {
    width: calc(100vw - 25rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 6rem;

    & h2 {
        font-size: 3.5rem;
        font-weight: bold;
    }

}

.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}