.containerData {
    width: calc(100vw - 25rem);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;

    & h2 {
        font-size: 3.5rem;
        font-weight: bold;
    }
 
}

.bookCardContainer{
    width: 80%;
}