.containerData {
    width: calc(100vw - 25rem);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;

    & h2 {
        font-size: 3.5rem;
        font-weight: bold;
    }

}

.bookCardContainer {
    width: 80%;
}

.recommendationCardContainer {
    width: 80vw;
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
    grid-auto-rows: auto;
    padding: 3rem;
    gap: 3rem;
    place-items: center;
    align-content: center;
    justify-content: space-around;
}