.recomendationCreateEditContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 60vw;
    min-height: calc(100vh - var(--header-heigth) );
    margin-top: calc(var(--header-heigth) * 2);
    padding: 5rem;
    gap: 3rem;
    background-color: var(--menuHover);
    border-radius: 1rem;
}

.imagenCratorTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 50rem;

}

.imgRecomendation{
    width: 85%;
    height: 100%;
    border-radius: 1rem;
    & img{
        border-radius: 1rem;
        object-fit: cover;
    }
}

.inputCreateRecomendation{
    display: flex;
    flex-direction: row;
    width: 85%;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;


    & input, textarea{
        padding: 1rem;
        font-size: 1.6rem;
        border-radius: 1rem;
        width: 45rem;
        height: auto;
    }
}

.booksInRecomendation{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.listBooksRecomendation{
    /* background-color: red; */
    border-radius: 1rem;
    padding: 1rem;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    grid-template-rows: 8rem;
    height: 40rem;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}