.cardProfilecontainer {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
    justify-content: space-between;
    box-shadow: var(--cardShadown);
    border-radius: 1rem;
    background-color: var(--cardBackground);
}

.bookProfileImgInfo {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    & p {
        font-size: 2rem;
    }
}

.bookProfileImg {
    background: red;
    width: 18rem;
    height: 23rem;
    border-radius: 1rem;
}

.titleAutorProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
    gap: 2rem;
}


.genereFiccionProfile,
.priceSell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.genereFiccionProfile{
    background-color: brown;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    height: 5rem;
}


.bookProfileGenereBtn {
    height: 100%;
    width: 28rem;
    background: linear-gradient(90deg, white 10%, #f0ba91 100%);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.priceSell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5rem;

    & p {
        font-size: 2.5rem;
    }
}