header{
    /* width: 100vw; */
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #EDC3AC;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.headerLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
}

.headerLinks a {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    cursor: pointer;
}

.headerImg{
    width: 10rem;
    height: 5rem;
}


.headerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    border-radius: 0.5rem;
    filter: grayscale(60%);
}

.headerActions{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


.buttonProfile{
    background: none;
    border: none;
    cursor: pointer;
}

.headerProfile{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* background-color: #333; */

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

