header{
    width: 100vw; 
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #EDC3AC;
    height: 7rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.headerLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
}

.headerLinks a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.headerImg{
    width: 10rem;
    height: 5rem;
}


.headerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    border-radius: 0.5rem;
    filter: grayscale(60%);
}

.headerActions{
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* gap: 2rem; */
    justify-content: center;
    align-items: center;
}


.buttonProfile{
    background: none;
    border: none;
    cursor: pointer;
}

.headerProfile{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid transparent;
    background: linear-gradient(120deg, rgb(24, 151, 7), #9b0d12) border-box;
    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

