.viewsContainer {
    background-color: #FAF3E7;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: auto;
    padding: 6rem;
    gap: 2rem;
    place-items: center;
    align-content: center;
    justify-content: center;
}