.contentViewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--header-heigth));
    justify-content: space-around;
    margin-top: calc(var(--header-heigth) + 2rem);
    margin-bottom: 2rem;
    
}

.viewsContainer {
    width: 90vw;
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: auto;
    padding: 3rem;
    gap: 2rem;
    place-items: center;
    align-content: center;
    justify-content: space-around;
}

.pagination{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}
