.containerCard {
    width: 30rem;
    height: 20rem;
    display: grid;
    grid-template-rows: auto 1fr  auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title img"
        "info img"
        "info img"
        "info actions";
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12), 0 4px 10px rgba(0,0,0,0.06);
    background-color: rgb(236, 222, 204);
    transition: transform 0.2s ease-in-out;
    
}

.containerCard:hover {
    transform: scale(1.03);
    filter: brightness(1.2);
    background-color: rgb(207, 181, 140);
}

.cardTitle {
    grid-area: title;
    font-weight: bold;
    text-align: start;
    align-self: start;
    margin-right: 0.5rem;

    /*texto sobrante no se muestra */
    overflow: hidden;
    /* white-space: nowrap; */
    max-width: 13rem;

}

.icons {
    grid-area: icons;
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
}


.data {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0.5rem;
}

.img {
    grid-area: img;
    height: 100%;
    object-fit: cover;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.actionsCard {
    grid-area: actions;
    background-color: green;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}


.buttonCard {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
