.containerCard {
    width: 30rem;
    height: 20rem;
    display: grid;
    grid-template-rows: auto 1fr  auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title img"
        "info img"
        "info img"
        "icons actions";
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    /* border: 2px solid rgba(0, 0, 0, 0.1); */
    border-radius: 0.5rem;
    
}

.cardTitle {
    grid-area: title;
    font-weight: bold;
    text-align: start;
    align-self: start;
    margin-right: 0.5rem;

    /*texto sobrante no se muestra */
    overflow: hidden;
    white-space: nowrap;
    max-width: 13rem;

}

.icons {
    grid-area: icons;
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
}

.icons div {
    background-color: red;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.data {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
    /* padding: 1rem; */
}

.img {
    grid-area: img;
    height: 100%;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.actionsCard {
    grid-area: actions;
    background-color: green;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}


.buttonCard {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
