.containerCard {
    width: 30rem;
    height: 23rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title img"
        "info img"
        "info img"
        "actions actions";
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--cardShadown);
    background-color: var(--cardBackground);
    transition: transform 0.2s ease-in-out;

}

.containerCard:hover {
    /* transform: scale(1.03); */
    /* filter: brightness(1.09); */
    background-color: var(--menuHover);
}

.cardTitle {
    grid-area: title;
    font-weight: bold;
    text-align: start;
    align-self: start;
    margin-right: 0.5rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 13rem;
}

.icons {
    grid-area: icons;
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
}


.data {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    padding: 0.5rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 13rem;

}

.img {
    grid-area: img;
    height: 100%;
    object-fit: cover;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.actionsCard {
    grid-area: actions;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    /* padding: 1rem; */
    align-items: center;
    height: 2.5rem;

    /* Estilos base para el <p> dentro de .actionsCard */
    & p {
        font-size: 2.3rem;
        color: green;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.buttonCard:hover {
    background-color: #f0dcdc;
    color: rgb(182, 29, 29);
    font-weight: 600;
    font-size: 1.3rem;
}

.buttonCard:hover p {
    color: rgb(182, 29, 29);
    font-weight: 600;
    font-size: 1.3rem;
    transition: color 0.2s, font-size 0.2s, font-weight 0.2s;
}