.recomendationCard {
    width: 28rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 0.5rem; */
    /* padding: 0.5rem; */
    box-shadow: var(--cardShadown);
    gap: 0.5rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}

.recomendationCard-img {
    width: 100%;
    height: 20rem;
    object-fit: fill;
    border-top-left-radius: 1rem;

}

.recomendationBooks{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.bookName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.bkg { background: radial-gradient(circle, var(--menu-bkg) 10%, var(--backGround-color) 70%); 
filter: brightness(0.9);}   /* Naranja claro */

.rateRecomendation {
    position: absolute;
    top: 17rem;
    right: 1rem;
}


.buttonRecomendation{
    width: 100%;
    padding: 0 1rem 1rem 1rem;
}