.menuProfileContainer {
    width: var(--menu-width);
    height: calc(100% - 7rem);
    background: var(--menu-bkg);
    border: 2px solid #e6d6c5;
    position: fixed;
    left: 0;
    top: 9rem;

    & nav {
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(-header-heigth));
        padding: 2rem;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    & li {
        display: flex;
        align-items: center;
        height: 6rem;
        width: 100%;
        padding-left: 1rem;
    }
    
    & a {
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
        text-align: left;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.menuProfileNav{
    height: calc(100vh - var(--header-heigth));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuProfileContainer nav li:hover {
    background: var(--menuHover);
    box-shadow: 0 2px 10px #e5945c33;
    border-radius: 1rem;
    width: 100%;

    & a {
        color: brown;
    }
}