.menuProfileContainer {
    width: 25rem;
    height: calc(100% - 7rem);
    background: linear-gradient(360deg, #f1934f 10%, #EDC3AC 100%);
    border: 2px solid #e6d6c5;
    position: fixed;
    left: 0;
    top: 9rem;
    /* box-shadow: 2px 0 18px #e6d6c580; */

    & nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
    }

    & ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* Espacia los li verticalmente */
    }

    & li {
        display: flex;
        align-items: center;
        height: 6rem;
        padding: 2rem;
        width: max-content;
    }

    & a {
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
        text-align: flex-start;
    }
}

.menuProfileContainer nav li:hover {
    background: #ffe6c7;
    box-shadow: 0 2px 10px #e5945c33;

    & a {
        color: brown;
    }
}