* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* 10px = 1rem */
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
   
}

/* WebKit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

h1{
    font-size: 3rem;
    font-weight: 400;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
}
h3{
    font-size: 1.8rem;
    font-weight: 500;
}

p{
    font-size: 1.4rem;
    font-weight: 500;
}

a{
    font-weight: 500;
}

:root{
    --button-acept:#83BD6E;
    --text-login: rgb(224, 221, 221);
    --border-input:rgba(255, 255, 255, 0.3);
    --background-input:#E4CFCF;
    --error-msg:rgb(255, 56, 56);
    --background-login: rgba(44, 41, 41, 0.6);
}
