* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* 10px = 1rem */
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--backGround-color);

}

/* WebKit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    font-size: 1.4rem;
    font-weight: 500;
}

a {
    font-weight: 500;
}

:root {
    --button-acept: #83BD6E;
    --button-buy: #F2783B;
    
    --error-msg: rgb(255, 56, 56);
    
    --text-login: rgb(20, 20, 20);
    --border-input: rgba(255, 255, 255, 0.3);
    --background-input: #E4CFCF;
    --background-login: rgba(116, 94, 80, 0.6);
    --backGround-color: #FFF7ED;
    --menu-bkg: #ffbe93;
    --menuHover: #ffe6c7;

    --cardShadown: 0px 10px 6px rgba(0, 0, 0, 0.15);
    --avatarShadown: -6px -3px 2px var(--menu-bkg);
    --cardBackground: white;


    --header-heigth: 9rem;
    --menu-width: 28rem;
}